@model Customer

<h1>Customer Page</h1>
<h3>Username: @Model.UserName</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
}
    </tbody>
</table>
