@model Rental;

@{
    ViewData["Title"] = "RentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RentSuccess</h1>

<h3>You have added the equipment with equipment ID: @Model.EquipmentId</h3>
